In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from pandas.plotting import scatter_matrix
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv("D:/Study/2021-2022 _ HK2/MKTG5883_DataMiningApp/Lab2/job-market.csv")
df

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN
3,37404330.0,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0.0,30.0,NaN
4,37404308.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN
3,37404330.0,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0.0,30.0,NaN
4,37404308.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN
5,37404307.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN
6,37404355.0,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07T00:00:00.000Z,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0.0,30.0,NaN
7,37404350.0,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0.0,30.0,NaN
8,37404301.0,Telemarketer,Reventon Investments,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0.0,30.0,NaN
9,37404286.0,Casual Dish Hand in Brighton,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0.0,30.0,NaN

In [5]:
df.dtypes

Id                   float64
Title                 object
Company               object
Date                  object
Location              object
Area                  object
Classification        object
SubClassification     object
Requirement           object
FullDescription       object
LowestSalary         float64
HighestSalary        float64
JobType               object
dtype: object

In [6]:
df['Date']= pd.to_datetime(df['Date'])

In [7]:
df.dtypes

Id                               float64
Title                             object
Company                           object
Date                 datetime64[ns, UTC]
Location                          object
Area                              object
Classification                    object
SubClassification                 object
Requirement                       object
FullDescription                   object
LowestSalary                     float64
HighestSalary                    float64
JobType                           object
dtype: object

In [8]:
df[df.duplicated()].shape[0]

30689

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df[df.duplicated()].shape[0]

0

In [11]:
df.isnull().sum()

Id                      1
Title                   1
Company               617
Date                    1
Location                1
Area                 3708
Classification          1
SubClassification       1
Requirement             1
FullDescription       257
LowestSalary            1
HighestSalary           1
JobType               248
dtype: int64

In [12]:
df.dropna(inplace = True)
df

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
121,37404238.0,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time
122,37404195.0,Boilermaker,RPM Contracting QLD P/l,2018-10-07 00:00:00+00:00,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time
125,37404288.0,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07 00:00:00+00:00,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp
126,37404267.0,Technician,Zoom Recruitment & Training,2018-10-07 00:00:00+00:00,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time
127,37404230.0,Systems Engineer,Humanised Group,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10091,37388929.0,Lead Kit Assembler,Techstaff,2018-10-04 00:00:00+00:00,Melbourne,Eastern Suburbs,Science & Technology,Quality Assurance & Control,Global leaders in medical technology | Full -T...,<p>A new and exciting opportunity for driven i...,50.0,60.0,Full Time
10094,37388912.0,Executive Assistant,V/Line Corporation,2018-10-04 00:00:00+00:00,Melbourne,CBD & Inner Suburbs,Administration & Office Support,"PA, EA & Secretarial",The Executive Assistant will provide high leve...,"<p>V/Line, Victoria's largest regional passeng...",50.0,60.0,Full Time
10096,37388901.0,Receptionist / Administrator,Randstad - Business Support,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Administration & Office Support,Administrative Assistants,Dual position within the Engineering & Commerc...,<p>Randstad are currently recruiting for a ver...,50.0,60.0,Full Time
10097,37388898.0,INTERNATIONAL WHOLESALE TRAVEL CONSULTANT,AA Appointments Brisbane,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Travel Agents/Consultants,Travel consultants - utilise your product know...,<p>Travel consultants - utilise your product k...,50.0,60.0,Full Time
10098,37388893.0,Customer Service Representative,Kennedy Reid,2018-10-04 00:00:00+00:00,Sydney,South West & M5 Corridor,Call Centre & Customer Service,Other,Liaise with internal and external stakeholders...,<strong>The Company</strong><br>Our client are...,50.0,60.0,Full Time

In [13]:
df.isnull().sum()

Id                   0
Title                0
Company              0
Date                 0
Location             0
Area                 0
Classification       0
SubClassification    0
Requirement          0
FullDescription      0
LowestSalary         0
HighestSalary        0
JobType              0
dtype: int64

In [14]:
df['Id']= pd.to_numeric(df['Id'], downcast='signed')

In [15]:
df.dtypes

Id                                 int32
Title                             object
Company                           object
Date                 datetime64[ns, UTC]
Location                          object
Area                              object
Classification                    object
SubClassification                 object
Requirement                       object
FullDescription                   object
LowestSalary                     float64
HighestSalary                    float64
JobType                           object
dtype: object

In [15]:
# s = pd.Series(['1.0', '2', -3])
# pd.to_numeric(s)
# 0    1.0
# 1    2.0
# 2   -3.0
# dtype: float64
# pd.to_numeric(s, downcast='float')
# 0    1.0
# 1    2.0
# 2   -3.0
# dtype: float32
# pd.to_numeric(s, downcast='signed')
# 0    1
# 1    2
# 2   -3
# dtype: int8
# s = pd.Series(['apple', '1.0', '2', -3])
# pd.to_numeric(s, errors='ignore')
# 0    apple
# 1      1.0
# 2        2
# 3       -3
# dtype: object
# pd.to_numeric(s, errors='coerce')
# 0    NaN
# 1    1.0
# 2    2.0
# 3   -3.0
# dtype: float64

In [16]:
df

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
121,37404238,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time
122,37404195,Boilermaker,RPM Contracting QLD P/l,2018-10-07 00:00:00+00:00,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time
125,37404288,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07 00:00:00+00:00,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp
126,37404267,Technician,Zoom Recruitment & Training,2018-10-07 00:00:00+00:00,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time
127,37404230,Systems Engineer,Humanised Group,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10091,37388929,Lead Kit Assembler,Techstaff,2018-10-04 00:00:00+00:00,Melbourne,Eastern Suburbs,Science & Technology,Quality Assurance & Control,Global leaders in medical technology | Full -T...,<p>A new and exciting opportunity for driven i...,50.0,60.0,Full Time
10094,37388912,Executive Assistant,V/Line Corporation,2018-10-04 00:00:00+00:00,Melbourne,CBD & Inner Suburbs,Administration & Office Support,"PA, EA & Secretarial",The Executive Assistant will provide high leve...,"<p>V/Line, Victoria's largest regional passeng...",50.0,60.0,Full Time
10096,37388901,Receptionist / Administrator,Randstad - Business Support,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Administration & Office Support,Administrative Assistants,Dual position within the Engineering & Commerc...,<p>Randstad are currently recruiting for a ver...,50.0,60.0,Full Time
10097,37388898,INTERNATIONAL WHOLESALE TRAVEL CONSULTANT,AA Appointments Brisbane,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Travel Agents/Consultants,Travel consultants - utilise your product know...,<p>Travel consultants - utilise your product k...,50.0,60.0,Full Time
10098,37388893,Customer Service Representative,Kennedy Reid,2018-10-04 00:00:00+00:00,Sydney,South West & M5 Corridor,Call Centre & Customer Service,Other,Liaise with internal and external stakeholders...,<strong>The Company</strong><br>Our client are...,50.0,60.0,Full Time

In [17]:
df['Id'].is_unique

True

In [18]:
df = df.set_index('Id')

In [19]:
df.head()

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
Id,,,,,,,,,,,,
37404238,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time
37404195,Boilermaker,RPM Contracting QLD P/l,2018-10-07 00:00:00+00:00,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time
37404288,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07 00:00:00+00:00,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp
37404267,Technician,Zoom Recruitment & Training,2018-10-07 00:00:00+00:00,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time
37404230,Systems Engineer,Humanised Group,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time

# Lab3

In [29]:
df

,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
Id,,,,,,,,,,,,
37404238,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time
37404195,Boilermaker,RPM Contracting QLD P/l,2018-10-07 00:00:00+00:00,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time
37404288,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07 00:00:00+00:00,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp
37404267,Technician,Zoom Recruitment & Training,2018-10-07 00:00:00+00:00,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time
37404230,Systems Engineer,Humanised Group,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time
...,...,...,...,...,...,...,...,...,...,...,...,...
37388929,Lead Kit Assembler,Techstaff,2018-10-04 00:00:00+00:00,Melbourne,Eastern Suburbs,Science & Technology,Quality Assurance & Control,Global leaders in medical technology | Full -T...,<p>A new and exciting opportunity for driven i...,50.0,60.0,Full Time
37388912,Executive Assistant,V/Line Corporation,2018-10-04 00:00:00+00:00,Melbourne,CBD & Inner Suburbs,Administration & Office Support,"PA, EA & Secretarial",The Executive Assistant will provide high leve...,"<p>V/Line, Victoria's largest regional passeng...",50.0,60.0,Full Time
37388901,Receptionist / Administrator,Randstad - Business Support,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Administration & Office Support,Administrative Assistants,Dual position within the Engineering & Commerc...,<p>Randstad are currently recruiting for a ver...,50.0,60.0,Full Time
37388898,INTERNATIONAL WHOLESALE TRAVEL CONSULTANT,AA Appointments Brisbane,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Travel Agents/Consultants,Travel consultants - utilise your product know...,<p>Travel consultants - utilise your product k...,50.0,60.0,Full Time
37388893,Customer Service Representative,Kennedy Reid,2018-10-04 00:00:00+00:00,Sydney,South West & M5 Corridor,Call Centre & Customer Service,Other,Liaise with internal and external stakeholders...,<strong>The Company</strong><br>Our client are...,50.0,60.0,Full Time

In [16]:
df['Location']

121      Melbourne
122       Brisbane
125         Sydney
126         Sydney
127       Brisbane
           ...
10091    Melbourne
10094    Melbourne
10096     Brisbane
10097     Brisbane
10098       Sydney
Name: Location, Length: 5898, dtype: object

In [17]:
df.isnull().sum()

Id                   0
Title                0
Company              0
Date                 0
Location             0
Area                 0
Classification       0
SubClassification    0
Requirement          0
FullDescription      0
LowestSalary         0
HighestSalary        0
JobType              0
dtype: int64

In [18]:
df['NumberOfJob'] = 1

In [19]:
df

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType,NumberOfJob
121,37404238,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07 00:00:00+00:00,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time,1
122,37404195,Boilermaker,RPM Contracting QLD P/l,2018-10-07 00:00:00+00:00,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time,1
125,37404288,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07 00:00:00+00:00,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp,1
126,37404267,Technician,Zoom Recruitment & Training,2018-10-07 00:00:00+00:00,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time,1
127,37404230,Systems Engineer,Humanised Group,2018-10-07 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10091,37388929,Lead Kit Assembler,Techstaff,2018-10-04 00:00:00+00:00,Melbourne,Eastern Suburbs,Science & Technology,Quality Assurance & Control,Global leaders in medical technology | Full -T...,<p>A new and exciting opportunity for driven i...,50.0,60.0,Full Time,1
10094,37388912,Executive Assistant,V/Line Corporation,2018-10-04 00:00:00+00:00,Melbourne,CBD & Inner Suburbs,Administration & Office Support,"PA, EA & Secretarial",The Executive Assistant will provide high leve...,"<p>V/Line, Victoria's largest regional passeng...",50.0,60.0,Full Time,1
10096,37388901,Receptionist / Administrator,Randstad - Business Support,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Administration & Office Support,Administrative Assistants,Dual position within the Engineering & Commerc...,<p>Randstad are currently recruiting for a ver...,50.0,60.0,Full Time,1
10097,37388898,INTERNATIONAL WHOLESALE TRAVEL CONSULTANT,AA Appointments Brisbane,2018-10-04 00:00:00+00:00,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Travel Agents/Consultants,Travel consultants - utilise your product know...,<p>Travel consultants - utilise your product k...,50.0,60.0,Full Time,1
10098,37388893,Customer Service Representative,Kennedy Reid,2018-10-04 00:00:00+00:00,Sydney,South West & M5 Corridor,Call Centre & Customer Service,Other,Liaise with internal and external stakeholders...,<strong>The Company</strong><br>Our client are...,50.0,60.0,Full Time,1

In [20]:
CountnumberTable = pd.pivot_table(data=df, index=['Location'], aggfunc={'NumberOfJob': np.sum}).sort_values(by='NumberOfJob',ascending=False).reset_index()

In [21]:
CountnumberTable

    Location  NumberOfJob
0     Sydney         2382
1  Melbourne         2094
2   Brisbane          900
3      Perth          522